image-recognition/MNIST_data
image-recognition/assets
deep-learning/wandb/
*/imgs*
**/__pycache__
*/__pycache__
*/__pycache__/*
*.zip
*.save
*.idea
*_checkpoints
datasets/
intro-week/day3/ai_mar21
intro-week/day3/tasks/.ipynb_checkpoints/hard-exercise-checkpoint.ipynb
intro-week/day3/tasks/.ipynb_checkpoints/medium-exercise-checkpoint.ipynb
intro-week/day4/.ipynb_checkpoints/
intro-week/day4/Egg.txt
intro-week/day4/Untitled.ipynb
intro-week/day4/blakepoems
intro-week/day4/poems.txt
intro-week/day4/test
machine-learning/
feature-engineering/intro/sub.csv
feature-engineering/intro/catboost*
feature-engineering/*
misc/mifit/*
*/data
*.model

computer-vision-two/__pycache__/helper_functions.cpython-39.pyc
computer-vision-two/__pycache__/helper_functions.cpython-39.pyc
.vscode/launch.json
