.flexcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    background-color: turquoise;
}
.flexitem{
    /* display: flex; */
    justify-content: center;
    align-content: center;
    text-align: center;
    flex-grow: 1;
    
}

@keyframes bounce {
    0% {transform: translate(0%)}
    /* 25% {transform: translate(25%)} */
    /* 50% {transform: translate(50%)} */
    /* 75% {transform: translate(75%)} */
    100% {transform: translate(100%)}

}

img.flexitem{
    width: 50%;
    transform: translate(50%);
    border-radius: 50%;
    /* Animation */
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

p>img.flexitem{
    animation: none;
    display:inline-flex;
    justify-content: left;
    align-content: left;
    border-radius: 10%;
    max-width: 250px;
}

#footer{
    padding: 0px;
    bottom: 0;
    left:0;
    font-size: 20px;
    background-color: magenta;
    position:fixed;
    width: 100%;
    text-align: right;
}


#header{
    padding:0px;
    top: 0;
    border: 10px solid red;
    
}

#header li{
    list-style-type: none;
    display: inline-flex;
    padding: 10px;
    border: 5px dotted darkviolet;


}

/* Scale Text with screen size */
@media screen  and (min-width:1000px){
    div{
        /* background-color: magenta; */
        font-size: 35pt;
    }
}
@media screen  and (max-width:1000px){
    div{
        /* background-color: magenta; */
        font-size: 20pt;
    }
}

p.flexitem{
    background-color: white;
    color: black
}

p.subtitle{
    background-color: black;
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

table{
    display: inline-flex;
    background-color: greenyellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
}
table tr th{
    padding: 1%;
}
table tr td{
    padding: 15px;
    border: 2px solid brown;
    
}